.connect {
	display: flex;
	gap: 20px;
}

.controls {
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.copy {
	width: auto;
	align-self: flex-start;
}
.create {
	display: flex;
	gap: 15px;
	align-items: center;
}

.create_btn {
	flex: 1;
}
