.main {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	justify-items: center;
	height: 100%;
}
@media (width <= 1200px) {
	.main {
		grid-template-columns: 1fr;
		width: 100%;
		grid-template-rows: auto auto auto;
	}
}
